<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>zoomer-auto-complete example</title>
    <link href="../bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="example.css" type="text/css" rel="stylesheet">
    <link href="../dist/css/zoomer-auto-complete.css" type="text/css" rel="stylesheet">
  </head>

  <body ng-app="exampleApp">
    <div class="wrapper">
      <form name="testForm" ng-submit="submitForm()">
        <div class="form-group">
          <label for="exampleInput1">Location Bias: {{myLocation1}}, 20 mile radius</label>
          <input class="form-control" id="exampleInput1" z-auto-complete="doStuff(selected)" z-miles-radius="20" z-location="myLocation1">
        </div>
        <div class="form-group">
          <label for="exampleInput2">Location Bias: {{myLocation2}}, default radius</label>
          <input class="form-control" id="exampleInput2" z-auto-complete="doStuff(selected)" z-location="myLocation2" z-placeholder="Enter values">
        </div>
        <div class="form-group">
          <label for="exampleInput3">Location Bias: {{myLocation2}}, default radius (include binding to <code>$rootScope.testProp</code> property)</label>
          <input class="form-control" ng-model="testProp" id="exampleInput3" z-auto-complete="doStuff(selected)" z-location="myLocation2" z-placeholder="Enter values">
        </div>
        <div class="form-group">
          <label for="exampleInput3">Default input</label>
          <input class="form-control" id="exampleInput3">
        </div>
        <p>
          <button type="submit">submit test</button>
        </p>
        <p>
          <a ng-href="" ng-click="testProp='new text 1!'">Click me</a> |
          <a ng-href="" ng-click="testProp='new text 2!'">Click me</a> |
          <a ng-href="" ng-click="testProp='new text 3!'">Click me</a> |
        </p>
        <p ng-bind="testProp"></png-bind>
      </form>
      <pre ng-bind="locationSelected|json:2"></pre>
    </div>

    <script src="http://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;libraries=geometry,places"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../dist/js/zoomer-auto-complete.js"></script>
    <script src="example.js"></script>
  </body>

</html>